<div class="addPost_section">
    <h4 class="AddPost__h4">Add New Post </h4>
    <form action="/addpost" method="post">
        <label for="title">Title :</label>
        <input type="text" name="title" id="title" aria-label="title">
        <label for="description">Description :</label>
        <input type="text" name="description" id="description" aria-label="description">
        <label for="content">Content :</label>
        <input type="text" name="content" id="content" aria-label="content">
        <div>
            <input type="submit" class="addPost_submit_btn" value="add post" id="add-post">
        </div>
    </form>
</div>