<div>
    <h3>Add New Post </h3>
    <form action="/add-post" method="post">
        <label for="title">Title :</label>
        <input type="text" name="title" id="title" aria-label="title">
        <label for="description">Description :</label>
        <input type="text" name="description" id="description" aria-label="description">
        <label for="content">Content :</label>
        <input type="text" name="content" id="content" aria-label="content">
        <div>
           <input type="submit" value="add post" id="add-post">
        </div>
    </form>
</div>