4  {{> header}}

  <section class="blog__section" id="home" >
       <input type="submit" value="addpost" name="addpost" aria-label="addpost">
        <ul class="blog__list">
            <h4 class="blog__list__title"> Title :</h4>
            <li class="blog__list__description">description :</li>
            <li class="blog__list__content">content :</li>
            <li class="blog__list__publishedAt"> publishedAt : </li>
            <li class="blog__list__username">added by :</li>
        </ul>

  </section>
        
  {{> footer}}