
<section class="UserData__section" id="">
  <ul class="UserData__list">
    <h4 class="UserData__list__user_name"> Username : {{UserData.user_name}}</h4>
    <li class="UserData__list__email">Email : {{UserData.email}}</li>

  </ul>

</section>

