<section class="signup_section" >
   <form id="signup" action="/signup" method="POST">
         <h5>{{error}}</h5>
        <label for="username">Username :</label>
        <input type="text" name="username" id="username" aria-label="username" required>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" aria-label="email" required>
        <label for="password">Password :</label>
        <input type="password" name="password" id="password" aria-label="password" required>  
        <label for="confirm-password">Confirm Password :</label>
        <input type="password" name="confirm_password" id="confirm-password" aria-label="confirm-password" required> 
        <div>
        <input type="submit" value="signup" id="signupBtn">
        </div>
   </form>
</section>