<header class="home__header >
    <nav class="home__header-navbar">
        <ul class="home__header-navbar-list">
        {{#if isLogedIn}}
            <li class="home__header-navbar-list-item" ><a class="home__header-navbar-list-item-link home__header-navbar-list-item-link--color" href="/">home</a> &nbsp; &nbsp;<a class="home__header-navbar-list-item-link home__header-navbar-list-item-link--color" href="/profile">welcome {{name}}</a> &nbsp; &nbsp; <a href="/logout">logout </a></li>
            
        {{else}}
            <li class="home__header-navbar-list-item" ><a class="home__header-navbar-list-item-link home__header-navbar-list-item-link--color" href="/">Home</a></li>
            <li class="home__header-navbar-list-item" ><a class= "home__header-navbar-list-item-link" href="/login">Login</a></li>
            <li class="home__header-navbar-list-item" ><a class= "home__header-navbar-list-item-link" href="/signup">Signup</a></li>
         {{/if}}

        </ul>
    </nav>
</header>