<header>
    <nav>
        <ul>
        {{#if name}}
        <li><a href="/">welcome {{name}}</a></li>
            
        {{else}}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
         {{/if}}

        </ul>
    </nav>
</header>